//fw
$fw-top-height:30px;

//blade-fw
$blade-nav-width:                     160px;


$navbar-height:                     40px;

$layout-aside-width:       220px;

//fix-panel
$fix-panel-height:                0px;

//footer
$footer-height:                     40px;