j-fw {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 30px; }
  j-fw j-fw-top.j-fw-top-sm {
    min-height: 30px;
    height: 30px;
    padding: 0.25rem 1rem; }
    j-fw j-fw-top.j-fw-top-sm .navbar-brand {
      padding-top: 0; }
    j-fw j-fw-top.j-fw-top-sm .top-user {
      color: white; }
  j-fw j-fw-nav {
    width: 200px;
    height: 100%;
    background: #f2f2f2;
    border-right: 2px solid #ccc;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll; }
    j-fw j-fw-nav .list-group-item {
      padding-bottom: 0;
      padding-right: 0; }
  j-fw j-fw-setting {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    border-left: 2px solid #ccc; }

j-fw-bld {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  min-width: 240px;
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  white-space: normal; }
  j-fw-bld .card-header, j-fw-bld .card-footer {
    height: 2rem;
    padding: .25rem .5rem; }
  j-fw-bld .j-bld-toolbar {
    height: 2rem;
    padding: 0;
    border-bottom: 1px solid lightgrey; }
    j-fw-bld .j-bld-toolbar .j-bld-opts .btn {
      padding: .25rem .5rem; }
  j-fw-bld > .card-footer {
    bottom: 0;
    position: absolute;
    width: 100%; }
    j-fw-bld > .card-footer .pagination {
      margin-top: 0; }
      j-fw-bld > .card-footer .pagination .page-link {
        padding: .125rem .375rem; }
  j-fw-bld .j-bld-body {
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
    overflow-y: auto; }
    j-fw-bld .j-bld-body.j-wi-search {
      top: 6rem; }
    j-fw-bld .j-bld-body.j-wi-footer {
      bottom: 2rem; }
  j-fw-bld .list-group .list-group {
    margin-right: -.75rem;
    margin-bottom: -.25rem; }
  j-fw-bld .list-group-item {
    padding: .25rem .75rem; }
    j-fw-bld .list-group-item.router-link-active {
      color: #fff;
      background-color: #0275d8;
      border-color: #0275d8; }

.j-bld-w30 {
  width: 300px; }

.j-bld-w36 {
  width: 360px; }

.j-bld-w42 {
  width: 420px; }

.j-bld-w48 {
  width: 480px; }

.j-bld-w54 {
  width: 540px; }

.j-bld-w60 {
  width: 600px; }

.j-bld-w66 {
  width: 660px; }

.j-bld-w72 {
  width: 720px; }

html, body {
  height: 100%; }

my-app {
  display: block;
  width: 100%;
  height: 100%; }

.login {
  width: 400px;
  padding: 2rem;
  margin: 160px auto 0;
  position: absolute;
  top: 0;
  left: 400px; }
